app/cache/prod/
app/logs/prod.log
app/cache
app/logs
bin
composer.json
composer.lock
LICENSE
UPGRADE-2.2.md
UPGRADE-2.3.md
UPGRADE-2.4.md
UPGRADE.md
vendor
web
web/bundles/
app/bootstrap*
app/cache/*
app/logs/*
vendor/
app/config/parameters.ini
